<mat-card>
	<mat-card-title>{{ 'PAGES.LOGIN.TITLE' | translate }}</mat-card-title>
	<mat-card-content>
    <p>{{ 'PAGES.TITLE.INFO' | translate }}</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'PAGES.LOGIN.EMAIL' | translate }}</mat-label>
          <input type="text" required matInput placeholder="email@example.com" formControlName="mail">
        </mat-form-field>
      </p>
      <p *ngIf="loginForm.controls['mail'].invalid && (loginForm.controls['mail'].dirty || loginForm.controls['mail'].touched)" class="alert">
        {{ 'PAGES.TITLE.EMAIL_ERROR' | translate }}
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'PAGES.TITLE.PASSWORD' | translate }}</mat-label>
          <input type="password" required matInput placeholder="Secret" formControlName="password">
        </mat-form-field>
      </p>
      <p *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert">
        {{ 'PAGES.TITLE.PASSWORD_ERROR' | translate }}
      </p>
      <div class="button">
        <button mat-raised-button color=primary type="button" type="submit" [disabled]="!loginForm.valid">{{ 'PAGES.TITLE.VALIDATE' | translate }}</button>
      </div>
    </form>
	</mat-card-content>
</mat-card>