<div class="container">
  <div id="Vhexheader">
    <div class="my-icon">

    </div>
    <h1 class="title">
      {{ 'PAGES.HOME.TITLE' | translate }} - {{ currentRoom.name }}
    </h1>
    <div class="logout">
      <button type="button" (click)="logout()">{{ 'PAGES.HOME.LOGOUT' | translate }}</button>
    </div>
  </div>
  <section id="VhexChatContainer">
    <aside class="groupChat">
      <div *ngFor="let r of rooms">
        <li (click)="joinRoom(r.chatId)">
          {{ r.name }}
        </li>
      </div>
    </aside>
    <article class="chat">
      <div *ngFor="let msg of messagesList" class="msg-container">
        <li [ngClass]="{ 'sent': msg.ownedByMe, 'received': !msg.ownedByMe }">
          <div class="message-date">{{ msg.timestamp | date }}</div>
          <div class="message-data">{{ msg.body }}</div>
        </li>
      </div>
      <div class="input-form">
        <label for="message">{{ 'PAGES.HOME.INPUT' | translate }}</label>
        <input id="message" [(ngModel)]="newMessage" (keyup)="$event.keyCode === 13 && sendMessage()" />
        <button (click)="sendMessage()">{{ 'PAGES.HOME.VALIDATE' | translate }}</button>
      </div>
    </article>
  </section>
</div>
